<div class="container-new">
    <div class="messageProfile">Edit your profile</div>
    <form id="form" method="post">
        {{#content}}
            <div class="error-message-edit">{{error}}</div>
            <input class="firstname fill" type="text" name="firstname" placeholder="{{first_name}}"/>
            <div class="messageFill">First Name</div>
            <input class="lastname fill" type="text" name="lastname" placeholder="{{last_name}}" />
            <div class="messageFill">Last Name</div>
            <input class="email fill" type="text" name="email" placeholder="{{email}}" />
            <div class="messageFill">Email</div>
            <input class="password fill" type="password" name="password" placeholder="Type your new password" />
            <div class="messageFill">Password</div>
            <input class="age fill" type="text" name="age" placeholder="{{age}}" />
            <div class="messageFill">Age</div>
            <input class="area-of-berlin fill" type="text" name="area-of-berlin" placeholder="{{area_of_berlin}}" />
            <div class="messageFill">Area of Berlin where you live</div>
            <input class="homepage fill" type="text" name="text" placeholder="{{homepage}}" />
            <div class="messageFill">Homepage</div>
            <input class="button" type="submit" name="button" value="UPDATE"></input>
            <input class="button" id="goback" type="button" name="button" value="GO BACK"></input>
        {{/content}}
    </form>
</div>

<img class="logo" src="/bvg.png">

<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
