<div class="center-wrapper">
    <div class="container2">
        <div class="title">They also signed our petition:</div>
        <div class="scrollable">
            {{#content}}
                {{#if homepage}}
                  <a href="{{homepage}}">{{first_name}} {{last_name}},</a>
                {{else}}
                  {{first_name}} {{last_name}},
                {{/if}}
                {{#if age}}
                   {{age}},
                {{/if}}
                {{#if area_of_berlin}}
                   <a href="/signers/{{area_of_berlin}}">{{area_of_berlin}}</a>
                {{/if}}
                <br>
            {{/content}}
        </div>
        <a class="message-logout" href="/logout">Logout</a>
    </div>
</div>


<img class="logo" src="/bvg.png">
