<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="names-top-page">
                <div><a class="name-top-first" href="/">Home</a></div>
                <div><a class="name-top-first" href="/about/loggedin">About</a></div>
                <div><a class="name-top-first" href="/profile/edit">Edit Profile</a></div>
                <div><a class="name-top-first" href="/logout">Logout</a></div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom-signers">
            <div class="white-background"></div>
            <p class="main-text-signers">They also signed our petition:</p>
            <div class="scrollable">
                {{#content}}
                    {{#if homepage}}
                      <a class="links-signers" href="{{homepage}}" target="_blank">{{first_name}} {{last_name}},</a>
                    {{else}}
                      {{first_name}} {{last_name}},
                    {{/if}}
                    {{#if age}}
                       {{age}},
                    {{/if}}
                    {{#if area_of_berlin}}
                       <a class="links-signers" href="/signers/{{area_of_berlin}}">{{area_of_berlin}}</a>
                    {{/if}}
                    <br>
                {{/content}}
            </div>
        </div>
    </div>
    </div>


<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
