<div class="content">
    <div class="wrapper-top">
        <img class="bvg" id="bvg-heart" src="bvg.png">
        <div class="inputs-first">
            <input class="button-top-first" id="home-button" type="button" name="button" value="Home"></input>
            <input class="button-top-first" id="aboutus-button-logged" type="button" name="button" value="About Us"></input>
            <input class="button-top-first" id="button-edit-profile" type="button" name="button" value="Edit Profile"></input>
            <input class="button-top-first" id="logout-button" type="button" name="button" value="Logout"></input>
        </div>
    </div>

    <div class="container">
        <div class="wrapper-bottom-signers">
            <div class="white-background"></div>
            <p class="main-text-signers">They also signed our petition:</p>
            <div class="scrollable">
                {{#content}}
                    {{#if homepage}}
                      <a class="links-signers" href="{{homepage}}">{{first_name}} {{last_name}},</a>
                    {{else}}
                      {{first_name}} {{last_name}},
                    {{/if}}
                    {{#if age}}
                       {{age}},
                    {{/if}}
                    {{#if area_of_berlin}}
                       <a class="links-signers" href="/signers/{{area_of_berlin}}">{{area_of_berlin}}</a>
                    {{/if}}
                    <br>
                {{/content}}
            </div>
        </div>
    </div>
    </div>

    <script src="/script2.js" type="text/javascript" charset="utf-8"></script>
